
@{
    ViewBag.Title = "Acts";
    Layout = "~/Views/Shared/_OutlineLayout.cshtml";
}

@section Styles {

}

    <div ng-controller="actController as aVm">
        <div class="page-title" ng-cloak>
            <div class="center-text"><h1 class="title" ng-hide="aVm.edit.act.title">ACT {{aVm.act.title}}</h1></div>
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="centralQuestionLabel">Central Question:</h3>
                    <input type="text" ng-model="aVm.act.centralQuestion" class="form-control centralQuestion" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3 class="summaryLabel">Summary:</h3>
                        </div>
                        <div class="col-xs-6">
                            <span class="wordCount">Word count: {{aVm.wordCount.actSummary}}</span>
                        </div>
                    </div>
                    <div><text-angular ng-model="aVm.act.summary"></text-angular></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h3 class="notesLabel">Notes:</h3>
                    <div><text-angular ng-model="aVm.act.notes"></text-angular></div>
                </div>
            </div>
        </div>
        <h3>Sequences: <a ng-click="aVm.openSequenceAdd()"><i class="fa fa-plus-circle"></i></a></h3>
        <p ng-if="aVm.add.sequence">Add new sequence after which sequence?</p>
        <select ng-if="aVm.add.sequence" ng-options="sequence.title for sequence in aVm.sequences track by sequence.id" ng-model="aVm.selectedSequence"></select>
        <button ng-if="aVm.add.sequence" type="button" class="btn btn-primary" ng-click="aVm.addSequence()">Add</button>
        <md-tabs md-stretch-tabs="always" md-selected="aVm.activeSequence" md-dynamic-height="true" id="sequenceTabs" class="md-primary md-hue-1" md-no-pagination="true">
            <md-tab ng-repeat="sequence in aVm.act.sequences" label="{{sequence.title}}" md-on-select="aVm.sequenceChange(sequence)" ng-cloak>
                <div class="row">
                    <div class="col-xs-12">
                        <h3 class="centralQuestionLabel">Central Question:</h3>
                        <input type="text" ng-model="sequence.centralQuestion" class="form-control centralQuestion" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-8">
                        <div class="row">
                            <div class="col-xs-6">
                                <h3 class="summaryLabel">Summary:</h3>
                            </div>
                            <div class="col-xs-6">
                                <span class="wordCount">Word count: {{aVm.wordCount.sequenceSummary}}</span>
                            </div>
                        </div>
                        <div><text-angular ng-model="sequence.summary"></text-angular></div>
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <h3 class="notesLabel">Notes:</h3>
                        <div><text-angular ng-model="sequence.notes"></text-angular></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-danger pull-right" ng-click="aVm.deleteSequence($event, sequence.id)">Delete Sequence</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Scenes: <a ng-click="aVm.openSceneAdd(sequence.id)"><i class="fa fa-plus-circle"></i></a></h4>
                        <p ng-if="aVm.add.scene">Add new scene after which scene?</p>
                        <select ng-if="aVm.add.scene" ng-options="scene.title for scene in aVm.scenes track by scene.id" ng-model="aVm.selectedScene"></select>
                        <button ng-if="aVm.add.scene" type="button" class="btn btn-primary" ng-click="aVm.addScene(sequence.id)" ">Add</button>
                        <md-nav-bar id="sceneNavBar">
                            <md-nav-item ng-repeat="scene in sequence.scenes" md-nav-click="aVm.selectScene(scene, sequence.scenes.length)" ng-style="{'width': aVm.navButtonWidth}">{{scene.title}}</md-nav-item>
                        </md-nav-bar>
                        <select ng-options="scene.title for scene in sequence.scenes track by scene.id" ng-model="aVm.scene" id="mobileSceneSelector"></select>
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <h4 class="summaryLabel">Summary:</h4>
                                    </div>
                                    <div class="col-xs-6">
                                        <span class="wordCount">Word count: {{aVm.wordCount.sceneSummary}}</span>
                                    </div>
                                </div>
                                <div><text-angular ng-model="aVm.scene.summary"></text-angular></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <h5 class="conflictLabel">Conflict:</h5>
                                <div><text-angular ng-model="aVm.scene.conflict"></text-angular></div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <h5 class="turnLabel">Turn:</h5>
                                <div><text-angular ng-model="aVm.scene.turn"></text-angular></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <h4 class="settingLabel">Setting:</h4>
                                <input type="text" ng-model="aVm.scene.setting" class="form-control" />
                            </div>
                        </div>
                        @*<div class="row">
                            <div class="col-xs-12">
                                <h3>Characters <a ng-click="aVm.openCharacterSceneAdd()"><i class="fa fa-plus-circle"></i></a></h3>
                                <div class="row">
                                    <div class="col-sm-3" ng-cloak>
                                        <div ng-if="aVm.add.character">
                                            <div class="col-xs-12">
                                                <div class="row">
                                                    <select ng-options="character.name for character in aVm.characters track by character.id" ng-model="aVm.characterAdd"></select>
                                                    <button type="button" class="btn btn-primary" ng-click="aVm.addCharacterScene(aVm.scene.sequenceId, aVm.scene.id)">Add to scene</button>
                                                </div>
                                                <div class="row">
                                                    <button type="button" class="btn btn-link" ng-click="aVm.addNewCharacter()">Create new character</button>
                                                </div>
                                            </div>
                                        </div>
                                        <section class="panel">
                                            <ul class="character-list">
                                                <li ng-repeat="character in aVm.scene.characters">
                                                    <a ng-click="aVm.openCharacterScene(sequence.id, aVm.scene.id, character.character.id)">{{character.character.name}}</a>
                                                </li>
                                            </ul>
                                        </section>
                                    </div>
                                    <div class="col-sm-9" ng-cloak>
                                        <section class="panel" id="selectedCharacterPanel" ng-if="aVm.selectedCharacter">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h4>{{aVm.selectedCharacter.character.name}}</h4>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h5>What is this character's <strong>physical</strong> goal</h5>
                                                    <input type="text" class="form-control" ng-model="aVm.selectedCharacter.physicalGoal" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <h5>What is this character's <strong>emotional</strong> goal?</h5>
                                                    <input type="text" class="form-control" ng-model="aVm.selectedCharacter.emotionalGoal" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h5>What is the <strong>obstacle</strong> in the way?</h5>
                                                    <input type="text" class="form-control" ng-model="aVm.selectedCharacter.obstacle" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <h5>How does this character move in relation to their goals?</h5>
                                                    <select ng-options="characterSceneExitType.name for characterSceneExitType in aVm.characterSceneExitTypes track by characterSceneExitType.id" ng-model="aVm.selectedCharacterSceneExitType"></select>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h5>How does this character <strong>start</strong> the scene?</h5>
                                                    <input type="text" class="form-control" ng-model="aVm.selectedCharacter.start" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <h5>How does this character <strong>end</strong> the scene?</h5>
                                                    <input type="text" class="form-control" ng-model="aVm.selectedCharacter.end" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h5>Notes:</h5>
                                                    <div><text-angular ng-model="aVm.selectedCharacter.notes"></text-angular></div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-default" ng-click="aVm.closeCharacterScene()">Close</button>
                                            <button type="button" class="btn btn-danger pull-right" ng-click="aVm.deleteCharacterScene($event, sequence.id, aVm.scene.id, aVm.selectedCharacter.character.id)">Delete</button>
                                        </section>
                                    </div>
                                    <div class="col-sm-9" ng-if="aVm.add.newCharacter" ng-cloak>
                                        <section class="panel">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <label>Name:</label>
                                                    <input type="text" ng-model="aVm.newCharacter.name" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <h5>Want:</h5>
                                                    <input type="text" class="form-control" ng-model="aVm.newCharacter.want" />
                                                </div>
                                                <div class="col-sm-6">
                                                    <h5>Need:</h5>
                                                    <input type="text" class="form-control" ng-model="aVm.newCharacter.need" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <h5>Biography:</h5>
                                                    <text-angular ng-model="aVm.newCharacter.biography"></text-angular>
                                                </div>
                                            </div>
                                            <button type="button" class="btn btn-primary" ng-click="aVm.saveNewCharacter()">Save</button>
                                            <button type="button" class="btn btn-default" ng-click="aVm.closeNewCharacter()">Close</button>
                                        </section>
                                    </div>
                                </div>
                            </div>
                        </div>*@
                        <button type="button" class="btn btn-danger pull-right" ng-click="aVm.deleteScene($event, sequence.id, aVm.scene.id)">Delete Scene</button>
                    </div>
                </div>
            </md-tab>
        </md-tabs>
        <button type="button" class="btn btn-default" ng-if="aVm.act.storyTypeId != 6" ng-click="aVm.goToProject()">Back to Project</button>
        <button type="button" class="btn btn-default" ng-if="aVm.act.storyTypeId === 6" ng-click="aVm.goToProject()">Back to Episode</button>
    </div>

@section Scripts {
    <script>
        (function () {
            "use strict";
            angular.module('actApp', ['ui.bootstrap']);
        })();
    </script>
    <script type="text/javascript">
        (function () {
            "use strict";
            angular.module('myApp')
                .value('razorViewModel', @Html.Raw(Json.Encode(Model)));
        })();
    </script>
    <script src="~/Scripts/Controllers/projectActController.js"></script>
}