@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_OutlineLayout.cshtml";
}

@section Styles {

}
<div ng-controller="projectController as pVm">
    <div class="row">
        <div class="col-sm-8">
            <div class="page-title" ng-cloak>
                <div class="inline-block">
                    <input id="titleInput" ng-model="pVm.project.title" type="text" />
                    <a type="button" class="btn btn-default pull-right titleButton" ng-href="/projects/print/{{pVm.project.id}}" id="printButton" target="_blank"><i class="fa fa-print"></i> Print View</a>
                </div>
                <h3 class="loglineLabel">Logline:</h3>
                <input class="form-control" ng-model="pVm.project.logline" type="text" />
                <h3 class="notesLabel">Notes:</h3>
                <div><text-angular ta-toolbar="[['bold','italics','underline','strikeThrough'],['ul','ol','indent','outdent'],['colourBlack','colourRed','colourBlue','colourGreen']]" ng-model="pVm.project.notes" class="trix-content"></text-angular></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel" ng-cloak>
                <a ng-click="pVm.openCollaboratorEdit()"><h3>Collaborators</h3></a>
                <input type="text" class="form-control" placeholder="Enter Email" ng-if="pVm.editCollaborator" ng-model="pVm.newCollaborator" />
                <br ng-if="pVm.edit.project.collaborators" />
                <button type="button" class="btn btn-primary" ng-if="pVm.editCollaborator" ng-click="pVm.saveCollaborator()">Add</button>
                <hr ng-if="pVm.collaborators.length" />
                <p ng-repeat="person in pVm.collaborators">{{person.email}} <a ng-click="pVm.deleteCollaborator(person)"><i class="fa fa-minus-circle pull-right"></i></a></p>
            </div>
        </div>
    </div>
    <h3>Acts:</h3>
    <md-tabs md-stretch-tabs="always" md-dynamic-height="true" class="md-primary md-hue-1" md-selected="pVm.activeAct" md-no-pagination="true">
        <md-tab ng-repeat="act in pVm.project.acts" label="{{act.title}}" md-on-select="pVm.selectAct()" ng-cloak>
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="centralQuestionLabel">Central Question:</h3>
                    <input type="text" ng-model="act.centralQuestion" class="form-control centralQuestion" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="summaryLabel">Summary:</h4>
                                </div>
                                <div class="col-xs-6">
                                    <span class="wordCount">Word count: {{pVm.wordCount.actSummary}}</span>
                                </div>
                            </div>
                            <div><text-angular ta-toolbar="[['bold','italics','underline','strikeThrough'],['ul','ol','indent','outdent'],['colourBlack','colourRed','colourBlue','colourGreen']]" ng-model="act.summary"></text-angular></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h4 class="notesLabel">Notes:</h4>
                    <div><text-angular ta-toolbar="[['bold','italics','underline','strikeThrough'],['ul','ol','indent','outdent'],['colourBlack','colourRed','colourBlue','colourGreen']]" ng-model="act.notes"></text-angular></div>
                </div>
            </div> 
            <button class="btn btn-primary btn-lg pull-left" ng-click="pVm.goToAct(act.id)" id="editButton">Edit Act</button>
        </md-tab>
    </md-tabs>
    <hr />
    @*<h3>Characters <a ng-click="pVm.addCharacter()"><i class="fa fa-plus-circle"></i></a></h3>
    <div class="row">
        <div class="col-sm-3" ng-cloak>
            <section class="panel">
                <ul class="character-list">
                    <li ng-repeat="character in pVm.characters track by character.id">
                        <a ng-click="pVm.openCharacter(character.id)">{{character.name}}</a>
                    </li>
                </ul>
            </section>
        </div>
        <div class="col-sm-9" ng-cloak>
            <section class="panel" id="selectedCharacterPanel" ng-if="pVm.selectedCharacter">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="text" ng-model="pVm.selectedCharacter.name" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h5>Want:</h5>
                        <input type="text" class="form-control" ng-model="pVm.selectedCharacter.want" />
                    </div>
                    <div class="col-sm-6">
                        <h5>Need:</h5>
                        <input type="text" class="form-control" ng-model="pVm.selectedCharacter.need" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h5>Biography:</h5>
                        <div><text-angular ng-model="pVm.selectedCharacter.biography"></text-angular></div>
                    </div>
                </div>
                <button type="button" class="btn btn-default" ng-click="pVm.closeCharacter()">Close</button>
                <button type="button" class="btn btn-danger pull-right" ng-click="pVm.deleteCharacter()">Delete</button>
            </section>
        </div>
    </div>*@
    <div class="row">
        <div class="col-xs-12">
            <a type="button" class="btn btn-default" ng-href="/projects/tv/{{pVm.project.seasonId}}" ng-if="pVm.project.storyType.id == 6">Series Page</a>
            <button type="button" class="btn btn-default" ng-click="pVm.goToIndex()">Projects Index</button>
            <button type="button" class="btn btn-primary pull-right" ng-click="pVm.saveProject()" ng-if="pVm.edit.project.save" ng-disabled="pVm.edit.saving">Save Project</button>
            <button type="button" class="btn btn-danger pull-right" ng-click="pVm.deleteProject($event)">Delete Project</button>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        (function () {
            "use strict";
            angular.module('myApp')
                .value('razorViewModel', @Html.Raw(Json.Encode(Model)));
        })();
    </script>
    <script src="~/Scripts/Controllers/projectEditController.js"></script>
}