@{
    ViewBag.Title = "Project";
    Layout = "~/Views/Shared/_OutlineLayout.cshtml";
}

@section Styles {

}
<div ng-controller="projectController as pVm">
    <div class="row">
        <div class="col-sm-8">
            <div class="page-title" ng-cloak>
                <div class="inline-block">
                    <input id="titleInput" ng-model="pVm.project.title" type="text" />
                    <a type="button" class="btn btn-default pull-right titleButton" ng-href="/projects/print/{{pVm.project.id}}" id="printButton" target="_blank"><i class="fa fa-print"></i> Print View</a>
                </div>
                <h1 class="title"><small>{{pVm.project.storyType.name}}</small></h1>
                <h3>Logline:</h3>
                <input class="form-control" ng-model="pVm.project.logline" type="text" />
                <h3>Notes:</h3>
                <div><text-angular ng-model="pVm.project.notes" class="trix-content"></text-angular></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel" ng-cloak>
                <a ng-click="pVm.openEdit('project', 'collaborators')"><h3>Collaborators</h3></a>
                <input type="text" class="form-control" placeholder="Enter Email" ng-if="pVm.edit.project.collaborators" ng-model="pVm.newCollaborator" />
                <br ng-if="pVm.edit.project.collaborators" />
                <button type="button" class="btn btn-primary" ng-if="pVm.edit.project.collaborators" ng-click="pVm.saveCollaborator()" ng-disabled="pVm.edit.saving">Add</button>
                <hr ng-if="pVm.collaborators.length" />
                <p ng-repeat="person in pVm.collaborators">{{person.email}} <a ng-click="pVm.deleteCollaborator(person)"><i class="fa fa-minus-circle pull-right"></i></a></p>
            </div>
        </div>
    </div>
    <hr />
    <div class="row" ng-cloak>
        <div class="col-xs-12 col-md-4" ng-repeat="plot in pVm.project.plots">
            <div class="row">
                <div class="col-xs-6">
                    <label>{{plot.plotName}}-plot</label>
                </div>
                <div class="col-xs-4"></div>
                <div class="col-xs-2">
                    <a ng-click="pVm.deletePlot($event, plot.id, plot.plotName)"><i class="fa fa-minus-circle"></i></a>
                </div>
            </div>
            <input type="text" class="form-control" ng-model="plot.description" />
        </div>
    </div>
    <button type="button" class="btn btn-default" ng-click="pVm.addPlot()" ng-disabled="pVm.edit.saving">Add Subplot</button>
    <hr ng-if="pVm.project.storyType.id == 6" ng-cloak />
    <h3>Acts</h3>
    <md-tabs md-stretch-tabs="always" md-dynamic-height="true" class="md-primary md-hue-1" md-no-pagination="true">
        <md-tab ng-repeat="act in pVm.project.acts" label="{{act.title}}" md-on-select="pVm.setAct(act)" ng-cloak>
            <div class="row">
                <div class="col-xs-12">
                    <h3 class="centralQuestionLabel">Central Question:</h3>
                    <input type="text" ng-model="act.centralQuestion" class="form-control centralQuestion" />
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-8">
                    <div class="row">
                        <div class="col-xs-6">
                            <h3 class="summaryLabel">Summary:</h3>
                        </div>
                        <div class="col-xs-6">
                            <span class="wordCount">Word count: {{pVm.wordCount.actSummary}}</span>
                        </div>
                    </div>
                    <div><text-angular ng-model="act.summary"></text-angular></div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <h3 class="notesLabel">Notes:</h3>
                    <div><text-angular ng-model="act.notes"></text-angular></div>
                </div>
            </div>
            <button type="button" class="btn btn-primary pull-right" ng-click="pVm.saveAct(act.id)" ng-if="pVm.edit.act.save">Save Act</button>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Scenes: <a ng-click="pVm.openSceneAdd(act.sequences[0].id)"><i class="fa fa-plus-circle"></i></a></h3>
                    <p ng-if="pVm.edit.scene.add">Add new scene after which scene?</p>
                    <select ng-if="pVm.edit.scene.add" ng-options="scene.title for scene in pVm.scenes track by scene.id" ng-model="pVm.selectedScene"></select>
                    <button ng-if="pVm.edit.scene.add" type="button" class="btn btn-primary" ng-click="pVm.addScene(act.sequences[0].id)" ng-disabled="pVm.edit.saving">Add</button>
                    <md-nav-bar id="sceneNavBar" aria-label="scenes">
                        <md-nav-item ng-repeat="scene in act.sequences[0].scenes" md-nav-click="pVm.selectScene(scene, act.sequences[0].scenes.length)" ng-style="{'width': pVm.navButtonWidth}">{{scene.title}}</md-nav-item>
                    </md-nav-bar>
                    <select ng-options="scene.title for scene in act.sequences[0].scenes track by scene.id" ng-model="pVm.scene" id="mobileSceneSelector"></select>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="row">
                                <div class="col-xs-6">
                                    <h4 class="summaryLabel">Summary:</h4>
                                </div>
                                <div class="col-xs-6">
                                    <span class="wordCount">Word count: {{pVm.wordCount.sceneSummary}}</span>
                                </div>
                            </div>
                            <div><text-angular ng-model="pVm.scene.summary"></text-angular></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <h5>Conflict:</h5>
                            <div><text-angular ng-model="pVm.scene.conflict"></text-angular></div>
                        </div>
                        <div class="col-xs-12 col-sm-6">
                            <h5>Turn:</h5>
                            <div><text-angular ng-model="pVm.scene.turn"></text-angular></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="settingLabel">Setting:</h4>
                            <input type="text" ng-model="pVm.scene.setting" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>Characters <a ng-click="pVm.openCharacterSceneAdd()"><i class="fa fa-plus-circle"></i></a></h3>
                            <div class="row">
                                <div class="col-sm-3" ng-cloak>
                                    <div ng-if="pVm.add.character">
                                        <div class="col-xs-12">
                                            <div class="row">
                                                <select ng-options="character.name for character in pVm.characters track by character.id" ng-model="pVm.characterAdd"></select>
                                                <button type="button" class="btn btn-primary" ng-click="pVm.addCharacterScene(pVm.scene.sequenceId, pVm.scene.id)">Add to scene</button>
                                            </div>
                                            <div class="row">
                                                <button type="button" class="btn btn-link" ng-click="pVm.addNewCharacter()">Create new character</button>
                                            </div>
                                        </div>
                                    </div>
                                    <section class="panel">
                                        <ul class="character-list">
                                            <li ng-repeat="character in pVm.scene.characters">
                                                <a ng-click="pVm.openCharacterScene(sequence.id, pVm.scene.id, character.character.id)">{{character.character.name}}</a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                                <div class="col-sm-9" ng-cloak>
                                    <section class="panel" id="selectedCharacterPanel" ng-if="pVm.selectedCharacter">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h3>{{pVm.selectedCharacter.character.name}}</h3>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h5>What is this character's <strong>physical</strong> goal</h5>
                                                <input type="text" class="form-control" ng-model="pVm.selectedCharacter.physicalGoal" />
                                            </div>
                                            <div class="col-sm-6">
                                                <h5>What is this character's <strong>emotional</strong> goal?</h5>
                                                <input type="text" class="form-control" ng-model="pVm.selectedCharacter.emotionalGoal" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h5>What is the <strong>obstacle</strong> in the way?</h5>
                                                <input type="text" class="form-control" ng-model="pVm.selectedCharacter.obstacle" />
                                            </div>
                                            <div class="col-sm-6">
                                                <h5>How does this character move in relation to their goals?</h5>
                                                <select ng-options="characterSceneExitType.name for characterSceneExitType in pVm.characterSceneExitTypes track by characterSceneExitType.id" ng-model="pVm.selectedCharacterSceneExitType"></select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h5>How does this character <strong>start</strong> the scene?</h5>
                                                <input type="text" class="form-control" ng-model="pVm.selectedCharacter.start" />
                                            </div>
                                            <div class="col-sm-6">
                                                <h5>How does this character <strong>end</strong> the scene?</h5>
                                                <input type="text" class="form-control" ng-model="pVm.selectedCharacter.end" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h5>Notes:</h5>
                                                <div><text-angular ng-model="pVm.selectedCharacter.notes"></text-angular></div>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-default" ng-click="pVm.closeCharacterScene()">Close</button>
                                        <button type="button" class="btn btn-danger pull-right" ng-click="pVm.deleteCharacterScene($event, sequence.id, pVm.scene.id, pVm.selectedCharacter.character.id)">Delete</button>
                                    </section>
                                </div>
                                <div class="col-sm-9" ng-if="pVm.add.newCharacter" ng-cloak>
                                    <section class="panel">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label>Name:</label>
                                                <input type="text" ng-model="pVm.newCharacter.name" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <h5>Want:</h5>
                                                <input type="text" class="form-control" ng-model="pVm.newCharacter.want" />
                                            </div>
                                            <div class="col-sm-6">
                                                <h5>Need:</h5>
                                                <input type="text" class="form-control" ng-model="pVm.newCharacter.need" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h5>Biography:</h5>
                                                <text-angular ng-model="pVm.newCharacter.biography"></text-angular>
                                            </div>
                                        </div>
                                        <button type="button" class="btn btn-primary" ng-click="pVm.saveNewCharacter()">Save</button>
                                        <button type="button" class="btn btn-default" ng-click="pVm.closeNewCharacter()">Close</button>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-danger pull-right" ng-click="pVm.deleteScene($event, sequence.id, pVm.scene.id)">Delete Scene</button>
                </div>
            </div>
        </md-tab>
    </md-tabs>
    <div class="row">
        <div class="col-xs-12">
            <a type="button" class="btn btn-default" ng-href="/projects/tv/{{pVm.project.projectId}}" ng-if="pVm.project.storyType.id == 6">Series Page</a>
            <button type="button" class="btn btn-default" ng-click="pVm.goToIndex()">Projects Index</button>
            <button type="button" class="btn btn-primary pull-right" ng-click="pVm.saveProject()" ng-if="pVm.edit.project.save" ng-disabled="pVm.edit.saving">Save Project</button>
            <button type="button" class="btn btn-danger pull-right" ng-click="pVm.deleteProject($event)">Delete Project</button>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        (function () {
            "use strict";
            angular.module('myApp')
                .value('razorViewModel', @Html.Raw(Json.Encode(Model)));
        })();
    </script>
    <script src="~/Scripts/Controllers/projectEpisodeController.js"></script>
}