
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<link href="~/Content/flexboxgrid-6.3.1/css/flexboxgrid.min.css" rel="stylesheet" />

@section Styles {

}

<div ng-controller="projectController as pVm" class="controller">
    <h1 class="projectsTitle" ng-cloak>Projects</h1>
    <div class="row indexProjectHeaders" ng-cloak>
        <div class="col-md-4">
            <h4 id="indexProjectHeaderTitle">Title</h4>
        </div>
        <div class="col-md-2">
            <h4 id="indexProjectHeaderType">Type</h4>
        </div>
        <div class="col-md-4">
            <h4 id="indexProjectHeaderLogline">Logline</h4>
        </div>
        <div class="col-md-2">
            <h4 id="indexProjectHeaderModified">Last Modified</h4>
        </div>
    </div>
    <div ng-repeat="proj in pVm.projects" ng-click="pVm.openProject(proj)" class="indexProject" ng-cloak>
        <div class="row">
            <div class="col-md-4 indexProjectTitle">
                <h3>{{proj.title}}</h3>
            </div>
            <div class="col-md-2 indexProjectType">
                <h5>{{proj.storyType.name}}</h5>
            </div>
            <div class="col-md-4 indexProjectLogline">
                <p>{{proj.logline}}</p>
            </div>
            <div class="col-md-2 indexProjectModified">
                <p>{{proj.dateModified}}</p>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary" ng-click="pVm.openProjectAdd($event)">Add Project</button>
    <div class="faqLink"><a href="/home/faq"><h4>View FAQ</h4></a></div>
    <script type="text/ng-template" id="addProjectDialog.html">
        <md-dialog>
            <md-content>
                <div ng-controller="modalController as mVm">
                    <div class="modal-header">
                        <h3 class="modal-title">New Project</h3>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form name="newProject">
                                <input type="text" class="form-control" ng-model="mVm.newProject.title" placeholder="Title" />
                                <label>Story Type</label>
                                <select ng-model="mVm.selectedStoryType" ng-options="type.name for type in mVm.storyTypes track by type.id"></select>
                                <input type="text" class="form-control" ng-model="mVm.newProject.logline" placeholder="Logline" />
                                <textarea class="form-control" ng-model="mVm.newProject.notes" placeholder="Notes"></textarea>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="mVm.saveProject()">Add</button>
                        <button type="button" class="btn btn-default" ng-click="mVm.cancelModal()">Cancel</button>
                    </div>
                </div>
            </md-content>
        </md-dialog>
    </script>
</div>



@section Scripts {
    <script src="~/Scripts/angular-route.min.js"></script>

    <script src="~/Scripts/Controllers/projectIndexController.js"></script>
}