
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section Styles {

}

<h2>Index</h2>

<div ng-controller="projectController as pVm">
    <div ng-repeat="proj in pVm.projects" ng-cloak>
        <a ng-click="pVm.openProject(proj)">{{proj.title}}</a> <span ng-bind="proj.storyType.name"></span>
        <small>{{proj.logline}}</small>
    </div>
    <hr />
    <button type="button" class="btn btn-primary" ng-click="pVm.openProjectAdd($event)">Add Project</button>
    <script type="text/ng-template" id="addProjectDialog.html">
        <md-dialog>
            <md-content>
                <div ng-controller="modalController as mVm">
                    <div class="modal-header">
                        <h3 class="modal-title">New Project</h3>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <form name="newProject">
                                <input type="text" class="form-control" ng-model="mVm.newProject.title" placeholder="Title" />
                                <label>Story Type</label>
                                <select ng-model="mVm.selectedStoryType" ng-options="type.name for type in mVm.storyTypes track by type.id"></select>
                                <input type="text" class="form-control" ng-model="mVm.newProject.logline" placeholder="Logline" />
                                <textarea class="form-control" ng-model="mVm.newProject.notes" placeholder="Notes"></textarea>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="mVm.saveProject()">Add</button>
                        <button type="button" class="btn btn-default" ng-click="mVm.cancelModal()">Cancel</button>
                    </div>
                </div>
            </md-content>
        </md-dialog>
    </script>
</div>



@section Scripts {
    <script src="~/Scripts/angular-route.min.js"></script>

    <script src="~/Scripts/Controllers/projectIndexController.js"></script>
}