
@{
    ViewBag.Title = "TV";
    Layout = "~/Views/Shared/_OutlineLayout.cshtml";
}

@section Styles {

}
<div ng-controller="tvController as tVm">
    <div class="row">
        <div class="col-sm-8">
            <div class="page-title" ng-cloak>
                <div class="inline-block">
                    <input id="titleInput" ng-model="tVm.series.title" type="text" />
                    <button type="button" class="btn btn-primary pull-right titleButton" ng-click="tVm.saveSeries()" ng-if="tVm.edit.series.save" ng-disabled="tVm.edit.saving">Save Project</button>
                </div>
                <h1 class="title"><small>{{tVm.series.storyType.name}}</small></h1>
                <h4>Logline:</h4>
                <input class="form-control" ng-model="tVm.series.logline" type="text" />
                <h4>Notes:</h4>
                <div><text-angular ng-model="tVm.series.notes" class="trix-content"></text-angular></div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel" ng-cloak>
                <a ng-click="tVm.openEdit('series', 'collaborators')"><h3>Collaborators</h3></a>
                <input type="text" class="form-control" placeholder="Enter Email" ng-if="tVm.edit.series.collaborators" ng-model="tVm.newCollaborator" />
                <br ng-if="tVm.edit.series.collaborators" />
                <button type="button" class="btn btn-primary" ng-if="tVm.edit.series.collaborators" ng-click="tVm.saveCollaborator()" ng-disabled="tVm.edit.saving">Add</button>
                <hr ng-if="tVm.collaborators.length" />
                <p ng-repeat="person in tVm.collaborators">{{person.email}} <a ng-click="tVm.deleteCollaborator(person)"><i class="fa fa-minus-circle pull-right"></i></a></p>
            </div>
        </div>
    </div>
    <hr />

    <div ng-repeat="season in tVm.series.seasons" ng-cloak>

        <h1 class="title"><small>{{season.title}}</small></h1>
        <h1 class="title"><small>Episodes</small></h1>
        <div class="row">
            <div class="col-md-8">
                <div ng-repeat="episode in season.episodes">
                    <a ng-click="tVm.goToEpisode(episode.id)">{{episode.title}}</a>
                </div>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-primary pull-right" ng-click="tVm.addNewEpisode($event, season.id)">Add Episode</button>
            </div>
        </div>
        <hr />
    </div>

    <button type="button" class="btn btn-primary" ng-click="tVm.addNewSeason($event)">Add Season</button>
    <button type="button" class="btn btn-default pull-right" ng-click="tVm.goToIndex()">Projects Index</button>
    <button type="button" class="btn btn-danger pull-right" ng-click="tVm.deleteSeries($event)">Delete Project</button>

    <script type="text/ng-template" id="addEpisodeDialog.html">
        <md-dialog>
            <md-content>
                <div class="modal-header">
                    <h3 class="modal-title">New Episode</h3>
                </div>
                <div class="modal-body">
                    <label>How many acts?</label>
                    <select ng-model="eVm.actsCount">
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                    </select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="eVm.saveEpisode()">Add</button>
                    <button type="button" class="btn btn-default" ng-click="eVm.cancelModal()">Cancel</button>
                </div>
            </md-content>
        </md-dialog>
    </script>
</div>

@section Scripts {
    <script type="text/javascript">
        (function () {
            "use strict";
            angular.module('myApp')
                .value('razorViewModel', @Html.Raw(Json.Encode(Model)));
        })();
    </script>
    <script src="~/Scripts/Controllers/projectTVController.js"></script>
}