
@{
    ViewBag.Title = "FAQ";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Frequently Asked Questions</h1>
<hr />

<h3>What is CrackPlots for?</h3>
<div class="faqAnswer">
    <p>In a word: outlining.</p>
    <p>As writers, we often don’t have many resources available to us — everyone’s process is different. For most of us, we start with an idea, that idea germinates into an outline, and we take it from there.</p>
    <p>In a technological world, it’s still a surprisingly analog process. The solutions people have come up with to deal with this are all different — but most involve hundreds of index cards or learning an elaborate new UI. We at Crackplots wanted to make something different — a seamless outlining application for people who already know the ropes and a resource for people who don’t, without having to learn an entirely new system. Just use your imagination and CrackPlots will help you organize your thoughts. Simple.</p>
</div>

<h3>How is CrackPlots different?</h3>
<div class="faqAnswer">
    <p>Its simplicity. CrackPlots is a lightweight, browser-only outlining aid. It organizes relevant information on your story's scenes, sequences and acts in a simple, intuitive style. No complicated UI to learn. No promises to magically write your script for you. Just a simple tool to organize your ideas in an elegant way.</p>
    <p>Crackplots lets you share your outline with collaborators, either in a classroom or a professional setting to make it easier to brainstorm and craft an idea. There’s an autosave function to make sure you never lose any data, and a print to outline function to export your outline once it’s done.</p>
    <p>Most importantly, it’ll free your desktop from a lot of clutter.</p>
</div>

<h3>How are CrackPlots' outlines organized?</h3>
<div class="faqAnswer">
    <p>CrackPlots utilizes the sequence theory of storytelling to organize your plot elements. Sequence theory is the idea that, beyond the traditional three-act structure, films are broken up into sequences. A sequence uses about five scenes (approximately 15 minutes in screen time) to tell a contained story arc with its own beginning, middle and end. Each scene, in turn, should also tell its own micro-story, with a beginning, middle and end. As a result, every story idea you have can be broken down into three smaller stories (acts), which can each then be broken down into a few smaller stories (sequences), which are in turn each broken down into several smaller stories (scenes).</p>
    <p>We've found that breaking down story ideas into their component parts like this helps keeps us focused on what next needs figuring out and helps avoid plot holes in the final script.</p>
</div>
<h3>How do sequences work in a larger film?</h3>
<div class="faqAnswer">
    <p>Think about a movie you know well. Chances are, you can separate it into about eight different sequences that each tell their own self-contained story arc, each with its own focus and tension. For example, <i>Guardians of the Galaxy</i> can be separated into the following sequences:</p>
    <ol>
        <li>
            Peter Quill is kidnapped and forced into a life of crime. He steals a mysterious orb which causes Yondu and Ronan to pursue him.
        </li>
        <li>
            Peter tries to sell the orb on Xandar, only to be stopped by Ronan's assassin (Gamora) and Yondu's bounty hunters (Rocket and Groot). They're all arrested.
        </li>
        <li>
            Peter gets to know Gamora, Rocket, Groot and Drax in prison. They work together to escape.
        </li>
        <li>
            The new group of outcasts (the heroes) try to sell the orb to the Collector, but Ronan arrives and takes the orb.
        </li>
        <li>
            Ronan uses the power of the orb to attack Xandar and the heroes agree to work together to try to stop him.
        </li>
        <li>
            The heroes engage in space combat with Ronan's forces, causing his ship to crash land on Xandar.
        </li>
        <li>
            The heroes confront Ronan in the wreckage and, using the powers of the orb and teamwork, defeat him.
        </li>
        <li>
            Peter leaves the orb with the Nova Corps and learns more about his parents.
        </li>
    </ol>
    <p>As you can see, the heroes have a different direct goal in each sequence. Once that tension has been resolved or changed in some way, we move into a new sequence. Sequences 1 and 2 correlate to Act 1, Sequences 3 through 6 correlate to Act 2 and Sequences 7 and 8 correlate to Act 3.</p>
</div>
<h3>How do you use scenes to build a sequence?</h3>
<div class="faqAnswer">
    <p>Each sequence has a sequence question, one that can be answered by the plot with a yes or no. For example, the first sequence in Guardians of the Galaxy asks ‘Will Peter Quill escape with the mysterious orb?’ The scenes that follow can be broken down into the following steps:</p>
    <ol>
        <li>
            New paradigm. <i>Peter Quill gets kidnapped by aliens.</i>
        </li>
        <li>
            Problem introduced. <i>He’s on a foreign planet and it looks hostile, how will he survive? He starts dancing around and kicking aliens; we know this is a cakewalk for him.</i>
        </li>
        <li>
            Wrench in the question. <i>Will Peter Quill escape (now that we know the orb is super special and powerful)?</i>
        </li>
        <li>
            Sequence question answered. <i>Peter escapes on his ship.</i>
        </li>
        <li>
            Consequences or foreshadowing. <i>Ronan is angry. Very angry.</i>
        </li>
    </ol>
    <p>The next sequence then begins with a new paradigm (Peter wants to sell the orb) and a new question (Will Peter sell the orb?).</p>
</div>
<h3>How does this work with television?</h3>
<div class="faqAnswer">
    <p>Television episodes are divided into acts, which are about the same length (in screentime and scene count) as a feature film sequence. CrackPlots eliminates sequences for television scripts and lets you work within acts instead since they're functionally the same.</p>
</div>
