
@{
    ViewBag.Title = "HowTo";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>How To Use CrackPlots</h1>
<hr />

<h3>Creating a Project</h3>
<div class="faqAnswer">
    <p>To create a new project, navigate to the <a href="/projects/index">Project Index</a> page. From there, click the Add Project button at the bottom of the page.</p>
    <img src="~/Assets/images/addProjectExample.jpg" />
    <p>Add your project's title, select the type of project and add a logline or any notes. Click 'Add' and your project will be added.</p>
</div>

<h3>Editing your Project</h3>
<div class="faqAnswer">
    <p>Click on a project in the project index to open its edit page. This page allows you to edit information about the project at the top level as well as information about its corresponding acts. The numbered tabs allow you to scroll through the different acts.</p>
</div>

<h3>Editing Acts, Sequences and Scenes</h3>
<div class="faqAnswer">
    <p>To edit an act, navigate to the act you want to edit on the project edit page and click on the Edit Act button.</p>
    <img src="~/Assets/images/editActExample.jpg" />
    <p>This button takes you to the Act edit screen. Each act is divided into sequences (view the <a href="/home/faq">FAQ</a> for an explanation of sequence theory) and each sequence is divided into several scenes. You can add and delete sequences and scenes as it fits your project.</p>
</div>

<h3>Exporting your finished outline</h3>
<div class="faqAnswer">
    <p>To export your finished outline, navigate to the project edit screen and click on the Print View button.</p>
    <img src="~/Assets/images/printProjectExample.jpg" />
    <p>This will open your project in a page without the formatting, allowing you to easily print or save as a PDF.</p>
</div>