@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div ng-controller="homeController as hVm">
    <div class="jumbotron" ng-cloak>
        <h1>CrackPlots</h1>
        <p class="lead">Crack your idea wide open</p>
        <p>
            <a ng-hide="hVm.razorViewModel.IsLoggedIn" href="/account/register" class="btn btn-primary btn-lg">Sign up</a>
            <a ng-hide="hVm.razorViewModel.IsLoggedIn" href="/account/login" class="btn btn-primary btn-lg">Log In</a>
            <a ng-if="hVm.razorViewModel.IsLoggedIn" href="/projects/index" class="btn btn-primary btn-lg">Go To Projects</a>
        </p>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    (function () {
        "use strict";
        angular.module('myApp')
            .value('razorViewModel', @Html.Raw(Json.Encode(Model)))
    })();

    (function () {
        "use strict";
        angular.module('myApp')
            .controller('homeController', HomeController);

        HomeController.$inject = ["$http", "$window", "razorViewModel"];

        function HomeController($http, $window, razorViewModel) {
            var vm = this;
            vm.$http = $http;
            vm.$window = $window;
            vm.razorViewModel = razorViewModel;


        }
    })();

    </script>
}