@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div ng-controller="homeController as hVm">
    <div class="jumbotron container" id="homePagePanel" ng-cloak>
        <img id="homeLogo" src="~/Assets/images/CP_logo_white.JPG" />
        <h2 class="">Break your idea wide open.</h2>
        <div>
            <a ng-hide="hVm.razorViewModel.IsLoggedIn" href="/account/register" class="btn btn-primary btn-lg">Sign up</a>
            <a ng-hide="hVm.razorViewModel.IsLoggedIn" href="/account/login" class="btn btn-primary btn-lg">Log In</a>
            <a ng-if="hVm.razorViewModel.IsLoggedIn" href="/projects/index" class="btn btn-primary btn-lg">Go To Projects</a>
        </div>
        <div>
            <a href="/home/howto" class="btn btn-success btn-lg">How It Works</a>
            <a href="/home/faq" class="btn btn-success btn-lg">FAQ</a>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
    (function () {
        "use strict";
        angular.module('myApp')
            .value('razorViewModel', @Html.Raw(Json.Encode(Model)))
    })();

    (function () {
        "use strict";
        angular.module('myApp')
            .controller('homeController', HomeController);

        HomeController.$inject = ["$http", "$window", "razorViewModel"];

        function HomeController($http, $window, razorViewModel) {
            var vm = this;
            vm.$http = $http;
            vm.$window = $window;
            vm.razorViewModel = razorViewModel;


        }
    })();

    </script>
}