
@{
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div ng-controller="confirmController as cVm">
    <h2>{{cVm.message}}</h2>
</div>

@section Scripts {
    <script type="text/javascript">
        
        (function () {
            "use strict";
            angular.module('myApp')
                .controller('confirmController', ConfirmController);

            ConfirmController.$inject = ['$http', '$window', '$location', '$timeout'];

            function ConfirmController($http, $window, $location, $timeout) {
                var vm = this;
                vm.$http = $http;
                vm.$window = $window;
                vm.$location = $location;
                vm.$timeout = $timeout;

                vm.message = 'Please wait while your email is confirmed.';

                vm.confirm = _confirm;

                vm.confirm();

                function _confirm() {
                    var id = vm.$location.search().id;
                    var token = vm.$location.search().token;
                    var url = '/api/users/' + id + '/' + token;
                    vm.$http.get(url)
                        .then(_confirmSuccess, _confirmError);
                }

                function _confirmSuccess(resp) {
                    vm.message = 'Thank you, your email has been confirmed';
                    vm.$timeout(function () { vm.$window.location.href = '/account/login'; }, 3000);
                }

                function _confirmError(resp) {
                    console.log(resp);
                }
            }
        })();
    </script>
    
    }
