@model ForeSight.Web.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div ng-controller="forgotController as fVm">
    <h2>Forgot your password?</h2>
    <hr />
    <div class="form-group">
        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label>Email</label>
                    <input type="text" class="form-control" ng-model="fVm.email" ng-enter="fVm.sendLink()" />
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-default" ng-click="fVm.sendLink()">Send Reset Link</button>
            </div>
        </div>
    </div>

    <a ng-href="{{fVm.forgotUrl}}" ng-cloak>{{fVm.forgotUrl}}</a>

</div>

@section Scripts {
    <script src="~/Scripts/Directives/NgEnter.js"></script>
    <script type="text/javascript">
        (function () {
            "use strict";
            angular.module('myApp')
                .controller('forgotController', ForgotController);

            ForgotController.$inject = ['$http', '$window'];

            function ForgotController($http, $window) {
                var vm = this;
                vm.$http = $http;
                vm.$window = $window;

                vm.email = '';
                vm.forgotUrl = '';

                vm.sendLink = _sendLink;

                function _sendLink() {
                    var url = '/api/users/forgotpassword/' + vm.email + '/';
                    vm.$http.post(url)
                        .then(_sendLinkSuccess, _sendLinkError);
                }

                function _sendLinkSuccess(resp) {
                    vm.forgotUrl = vm.$window.location.protocol + '//' + vm.$window.location.hostname + '/Account/ResetPassword/' + resp.data.item;
                }

                function _sendLinkError(resp) {
                    console.log(resp);
                    if (resp.status === 400) {
                        alert('This email is not associated with an account.');
                    } else {
                        alert('Failed to send email.')
                    }
                }
            }
        })();
    </script>
}
