@using ForeSight.Web.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@section Styles {
    <style>
        hr {
            border: 0;
            clear: both;
            display: block;
            width: 100%;
            background-color: lightgray;
            height: 1px;
        }
    </style>
}

<div ng-controller="loginController as lVm">
    <h2>Log In</h2>
    <div class="row">
        <div class="col-md-8">
            <section id="loginForm">
                <hr />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label>Email</label>
                            <input type="text" class="form-control" ng-model="lVm.user.email" ng-enter="lVm.submit()" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <label>Password</label>
                            <input type="password" class="form-control" ng-model="lVm.user.password" ng-enter="lVm.submit()" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="checkbox">
                                <input type="checkbox" />
                                <label>Remember Me?</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-10">
                            <input type="button" value="Log in" class="btn btn-primary" ng-click="lVm.submit()" ng-disabled="lVm.submitted" />
                        </div>
                    </div>
                </div>
                <hr />
                <p>
                    <a href="/account/register">Register as a new user</a>
                </p>
            </section>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/Directives/NgEnter.js"></script>

    <script type="text/javascript">
        
        (function () {
            "use strict";
            angular.module('myApp')
                .controller('loginController', LoginController);

            LoginController.$inject = ['$http', '$window'];

            function LoginController($http, $window) {
                var vm = this;
                vm.$http = $http;
                vm.$window = $window;

                vm.submitted = false;
                vm.user = {};

                vm.submit = _submit;

                function _submit() {
                    if (vm.user.email && vm.user.password) {
                        vm.submitted = true;
                        var url = '/api/users/login';
                        vm.$http.post(url, vm.user)
                            .then(_submitSuccess, _submitError);
                    } else {
                        alert("Must enter email and password");
                    }
                }

                function _submitSuccess(resp) {
                    vm.$window.location.href = '/projects/index';
                }

                function _submitError(resp) {
                    vm.submitted = false;
                    console.log(resp);
                    if (resp.status === 403) {
                        alert("User email has not been confirmed.")
                    } else if (resp.status === 412) {
                        alert("Incorrect email or password.")
                    } else {
                        alert("Login failed");
                    }
                }
            }
        })();
    </script>
}